{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Hoo Let the Dogs In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'doggies/assets/css/main.css' %}" />
		<!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
	</head>
	<body class="is-preload">

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Hoo Let the Dogs In</h2>
				</header>
				<p>Either search for your dog, or let us do it for you</p>
				<footer>
					<a href="search" class="button style2 scrolly">Search</a>&nbsp&nbsp&nbsp&nbsp
					<a href="filter" class="button style2 scrolly">Filter</a>
				</footer>
			</section>

	</body>
</html>
