{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Hoo Let the Dogs In - Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'doggies/assets/css/main.css' %}" />
		<!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
	</head>
	<body class="is-preload">

		<!-- Generic -->
			<article class="container box style3">
				<section>
					<header>
						<h3>Dog Search</h3>
					</header>

					<form method="post" action="do_search">
                        {% csrf_token %}
						<div class="row">
							<div class="col-12">
								<input class="text" type="text" name="term" id="term" value="" placeholder="Enter the dog breed" />
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Search" /></li>
									<li><input type="reset" class="style3" value="Clear Search" /></li>
								</ul>
							</div>
						</div>
					</form>
                    
				</section>
			</article>

	</body>
</html>
